body {
    margin: 0;
    height: 100vh;
    overflow: hidden; /* evita scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
	touch-action: none;
}

.container {
    position: relative;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}

#noBtn {
    position: fixed;
}

#noBtn:hover {
    transform: scale(1.1) rotate(8deg);
}

